<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="settings" value="key"/>
	</appSettings>
	<connectionStrings>
		<add name="DBconnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\RTask\RTask\DB.mdf;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
</configuration>